<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="shortcut icon" href="http://2.bp.blogspot.com/-j4HwmBfVC14/Ux7vXaYkiJI/AAAAAAAANeo/L0PBNOM4oto/s1600/odin_head_silhouette_2_circle_simple_transparent-6ea51a1a0b487c3baaf80309bb31b252.gif" type="image/x-icon" />
  </head>
  <body>
    <div class="transbox">
    <h1> Caesar Cipher </h1>
    <p>
      "The Caesar cipher, also known as a shift cipher, is one
      of the simplest forms of encryption. It is a substitution
      cipher where each letter in the original message (called the plaintext)
      is replaced with a letter corresponding to a certain number of letters
      up or down in the alphabet."
    </p>
    <a href="https://learncryptography.com/classical-encryption/caesar-cipher">
      More information on the Cipher (site quote above...)
    </a>
    <h2> This is My version </h2>
    <p>  </p>
    <form>
      insert text to encript:
      <input type="text" name="input"/><br>
      insert shift value:
      <input type="text" name="shift"><br>
      <input type="submit" value="Encrypt">
    </form>
    <p> Output: <%= output %> </p>
    </div>
  </body>
</html>
